<!--The content below is only a placeholder and can be replaced.-->
<br><br>
<div style="text-align:center">
  <h1>
    Enjoy Angular-6 With Examples
  </h1>
</div>
<br><br>
<div style="text-align: center;">
	<img src="../../assets/element_attribute_property.PNG" style="width: 850px;">	
</div>
<br>

<!-- Adding Components with App Component -->

<app-chapter-one></app-chapter-one> 		 	<!-- When component selector is an element -->
<!-- <div app-chapter-one></div> -->			<!-- When component selector is an attribute -->
<app-chapter-three></app-chapter-three>
<app-chapter-four></app-chapter-four>